.App {
  text-align: center;
}

.App-logo {
  animation: yourAnimation 2s infinite 0s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes yourAnimation{
    0%{
        transform: rotate(xx) scale(0.9);
        }
    25%{
        transform: rotate(xx) scale(0.98);
        }
    50%{
        transform: scale(1.05);
        }
    100%{
        transform: rotate(xx) scale(1.10);
        }
}
